@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin center ($f, $f-d: row, $ali-i: center, $jus-c: center) {
    display: $f;
    flex-direction: $f-d;
    align-items: $ali-i;
    justify-content: $jus-c;
}