$colors: (
    'main-text-color' :#303030,
    'secondary-text-color': #555,
    'bg-img-tx-color': #9DA4BD,
    'main-bg-color': #FFF,
    'bg-img': #111319,
    'bg-form':#191C26,
    'secondary-bg-color': #F7F7F7,
    'accent-color': #FF6C00,
);

$font-size: (
    'pre-title': 11px,
    'btn': 12px,
    'small': 14px,
    'small-big': 16px,
    'little': 18px,
    'header-size-mob': 28px,
    'header-size': 42px,
    'main-header-mob': 48px,
    'main-header': 72px
);

@function getColor($key) {
    @return map-get($colors, $key);
}

@function getSize($key) {
    @return map-get($font-size, $key);
}

$cubic : cubic-bezier(0.4, 0, 0.2, 1);
$time: 500ms;