<section class="section">
    <div class="container about">
        <div class="about__wrapper-img">
            <ul class="about__list">
                <li class="about__item">
                    <picture>
                        <source 
                            media="(min-width: 1200px)"
                            srcset="
                                ./images/about/about1-desktop-1x.jpg 1x,
                                ./images/about/about1-desktop-2x.jpg 2x,
                                ./images/about/about1-desktop-3x.jpg 3x,
                                ./images/about/about1-desktop-4x.jpg 4x"
                            width="270"
                            height="445"
                        >
                        <source 
                            media="(min-width: 768px)"
                            srcset="
                                ./images/about/about1-tablet-1x.jpg 1x,
                                ./images/about/about1-tablet-2x.jpg 2x,
                                ./images/about/about1-tablet-3x.jpg 3x,
                                ./images/about/about1-tablet-4x.jpg 4x"
                            width="330"
                            height="235"
                        >
                        <img 
                            class="about-img"
                            src="./images/about/about1-desktop-1x.jpg" 
                            alt="About image"
                            width="270"
                            height="445"
                        >
                    </picture>
                </li>
                <li class="about__item">
                    <picture>
                        <source 
                            media="(min-width: 1200px)"
                            srcset="
                                ./images/about/about2-desktop-1x.jpg 1x,
                                ./images/about/about2-desktop-2x.jpg 2x,
                                ./images/about/about2-desktop-3x.jpg 3x,
                                ./images/about/about2-desktop-4x.jpg 4x"
                            width="270"
                            height="445"
                        >
                        <source 
                            media="(min-width: 768px)"
                            srcset="
                                ./images/about/about2-tablet-1x.jpg 1x,
                                ./images/about/about2-tablet-2x.jpg 2x,
                                ./images/about/about2-tablet-3x.jpg 3x,
                                ./images/about/about2-tablet-4x.jpg 4x"
                            width="330"
                            height="235"
                        >
                        <img 
                            class="about-img"
                            src="./images/about/about2-desktop-1x.jpg" 
                            alt="About image"
                            width="270"
                            height="445"
                        >
                    </picture>
                </li>
            </ul>
        </div>
        <div class="about__wrapper-paragraph">
            <p class="pre-title">About</p>
            <h2 class="title about__title" id="about">Best Barbershop in your city</h2>
            <p class="about__paragraph">If you want to add more confidence to your image, you should definitely visit us.</p>
            <p class="about__description">
                We are a team that never stops at what has been achieved and are thirsty for changes. 
                And when you fall into the hands of our master, you will never be the same again. 
                We are a team that is always "on the same wave" with clients. Therefore, we are always 
                ready to improve everyone who comes to us!
            </p>
            <a href="#contact" class="btn about__btn">ONLINE-BOOKING</a>
        </div>
    </div>
</section>