<section class="section">
    <div class="container benefits">
        <ul class="benefits__list">
            <li class="benefits__item">
                <h3 class="benefits__title counter-js">600<sup class="accent-sup">+</sup></h3>
                <p class="benefits__paragraph">Satisfied customers per day</p>
            </li>
            <li class="benefits__item">
                <h3 class="benefits__title counter-js">50<sup class="accent-sup">+</sup></h3>
                <p class="benefits__paragraph">Awards for excellent service</p>
            </li>
            <li class="benefits__item">
                <h3 class="benefits__title counter-js">20<sup class="accent-sup">+</sup></h3>
                <p class="benefits__paragraph">Kyiv’s best 
                    barbers</p>
            </li>
            <li class="benefits__item">
                <h3 class="benefits__title counter-js">100<sup class="accent-sup">+</sup></h3>
                <p class="benefits__paragraph">Gifts for regular customers</p>
            </li>
        </ul>
        <div class="benefits__wrapper">
            <p class="pre-title">Old traditional school</p>
            <h2 class="title">¿Why people come to us?</h2>
            <p class="benefits__description">Only good things are said about us. But it's better to see and feel 1 time than read 10 times. </p>
        </div>
    </div>
</section>