<div class="wrapper">
    <section class="section contacts-wrapper">
        <div class="container">
            <form class="form">
                <h2 class="title white contacts__title">Online-booking</h2>
                <input class="form__input mg" type="text" name="name" placeholder="NAME*">
                <input class="form__input" type="tel" name="tel" placeholder="PHONE*">
                <textarea class="form__area" name="message" placeholder="MESSAGE"></textarea>
                <button class="form__btn btn white">SEND</button>
            </form>
    </section>
    <section class="section contacts-wrapper contacts">
        <div class="container">
            <h2 class="title white contacts__title" id="contacts">Contacts</h2>
            <address class="contacts__address">
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <a class="contacts__link" href="https://www.google.com/maps/search/?api=1&query=st.+Vasilkovaya,+7A,+Kiev,+08132" target="_blank">
                            <svg class="contacts__svg">
                                <use href="./images/svg/symbol-defs.svg#icon-map-pin"></use>
                            </svg>st. Vasilkovaya, 7A Kiev, 08132
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel:+380441111111">
                            <svg class="contacts__svg">
                                <use href="./images/svg/symbol-defs.svg#icon-phone"></use>
                            </svg>+38 044 111 11 11
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="mailto:barbershop@email.com">
                            <svg class="contacts__svg">
                                <use href="./images/svg/symbol-defs.svg#icon-mail"></use>
                            </svg>barbershop@email.com
                        </a>
                    </li>
                </ul>
                <div>
                    <p class="pre-title contacts__pre-title"><span class="white">Working hours</span></p>
                    <p>
                        Every day from 
                        <time datetime="09:00">9:00</time>
                        to 
                        <time datetime="22:00">22:00</time>
                    </p>
                </div>
            </address>
        </div>
    </div>
    </section>
</div>