<p>Start</p>

<ul class="soc__list">
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg  "></svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg  "></svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg  "></svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg  "></svg>
        </a>
    </li>
</ul>