<p>Start</p>

<ul class="soc__list">
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg ">
                <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg ">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg ">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="">
            <svg class="soc__svg ">
                <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
            </svg>
        </a>
    </li>
</ul>

<button class="btn btn-white">SEND</button>