<section class="section">
    <div class="container">
        <p class="pre-title">In Latin, "barba" means "beard"</p>
    <h2 class="hidden">gallery</h2>
    <ul class="gallery__list">
        <li class="gallery__item">
            <picture>
                <source 
                    media="(min-width: 1200px)"
                    srcset="
                        ./images/gallery/gallery1-desktop-1x.jpg 1x,
                        ./images/gallery/gallery1-desktop-2x.jpg 2x,
                        ./images/gallery/gallery1-desktop-3x.jpg 3x,
                        ./images/gallery/gallery1-desktop-4x.jpg 4x"
                    width="270"
                >
        
                <source 
                    media="(min-width: 768px)"
                    srcset="
                        ./images/gallery/gallery1-tablet-1x.jpg 1x,
                        ./images/gallery/gallery1-tablet-2x.jpg 2x,
                        ./images/gallery/gallery1-tablet-3x.jpg 3x,
                        ./images/gallery/gallery1-tablet-4x.jpg 4x"
                    width="330"
                >
        
                <source 
                    media="(max-width: 767px)"
                    srcset="
                        ./images/gallery/gallery1-mobile-1x.jpg 1x,
                        ./images/gallery/gallery1-mobile-2x.jpg 2x,
                        ./images/gallery/gallery1-mobile-3x.jpg 3x,
                        ./images/gallery/gallery1-mobile-4x.jpg 4x"
                    width="418"
                >
        
                <img 
                    class="gallery-img"
                    src="./images/gallery/gallery1-mobile-1x.jpg" 
                    alt="gallery-1"
                    width="418"
                >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source 
                    media="(min-width: 1200px)"
                    srcset="
                        ./images/gallery/gallery2-desktop-1x.jpg 1x,
                        ./images/gallery/gallery2-desktop-2x.jpg 2x,
                        ./images/gallery/gallery2-desktop-3x.jpg 3x,
                        ./images/gallery/gallery2-desktop-4x.jpg 4x"
                    width="270"
                >
        
                <source 
                    media="(min-width: 768px)"
                    srcset="
                        ./images/gallery/gallery2-tablet-1x.jpg 1x,
                        ./images/gallery/gallery2-tablet-2x.jpg 2x,
                        ./images/gallery/gallery2-tablet-3x.jpg 3x,
                        ./images/gallery/gallery2-tablet-4x.jpg 4x"
                    width="330"
                >
        
                <source 
                    media="(max-width: 767px)"
                    srcset="
                        ./images/gallery/gallery2-mobile-1x.jpg 1x,
                        ./images/gallery/gallery2-mobile-2x.jpg 2x,
                        ./images/gallery/gallery2-mobile-3x.jpg 3x,
                        ./images/gallery/gallery2-mobile-4x.jpg 4x"
                    width="418"
                >
        
                <img 
                    class="gallery-img"
                    src="./images/gallery/gallery2-mobile-1x.jpg" 
                    alt="gallery-2"
                    width="418"
                >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source 
                    media="(min-width: 1200px)"
                    srcset="
                        ./images/gallery/gallery3-desktop-1x.jpg 1x,
                        ./images/gallery/gallery3-desktop-2x.jpg 2x,
                        ./images/gallery/gallery3-desktop-3x.jpg 3x,
                        ./images/gallery/gallery3-desktop-4x.jpg 4x"
                    width="270"
                >
        
                <source 
                    media="(min-width: 768px)"
                    srcset="
                        ./images/gallery/gallery3-tablet-1x.jpg 1x,
                        ./images/gallery/gallery3-tablet-2x.jpg 2x,
                        ./images/gallery/gallery3-tablet-3x.jpg 3x,
                        ./images/gallery/gallery3-tablet-4x.jpg 4x"
                    width="330"
                >
        
                <source 
                    media="(max-width: 767px)"
                    srcset="
                        ./images/gallery/gallery3-mobile-1x.jpg 1x,
                        ./images/gallery/gallery3-mobile-2x.jpg 2x,
                        ./images/gallery/gallery3-mobile-3x.jpg 3x,
                        ./images/gallery/gallery3-mobile-4x.jpg 4x"
                    width="418"
                >
        
                <img 
                    class="gallery-img"
                    src="./images/gallery/gallery3-mobile-1x.jpg" 
                    alt="gallery-3"
                    width="418"
                >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source 
                    media="(min-width: 1200px)"
                    srcset="
                        ./images/gallery/gallery4-desktop-1x.jpg 1x,
                        ./images/gallery/gallery4-desktop-2x.jpg 2x,
                        ./images/gallery/gallery4-desktop-3x.jpg 3x,
                        ./images/gallery/gallery4-desktop-4x.jpg 4x"
                    width="270"
                >
        
                <source 
                    media="(min-width: 768px)"
                    srcset="
                        ./images/gallery/gallery4-tablet-1x.jpg 1x,
                        ./images/gallery/gallery4-tablet-2x.jpg 2x,
                        ./images/gallery/gallery4-tablet-3x.jpg 3x,
                        ./images/gallery/gallery4-tablet-4x.jpg 4x"
                    width="330"
                >
        
                <source 
                    media="(max-width: 767px)"
                    srcset="
                        ./images/gallery/gallery4-mobile-1x.jpg 1x,
                        ./images/gallery/gallery4-mobile-2x.jpg 2x,
                        ./images/gallery/gallery4-mobile-3x.jpg 3x,
                        ./images/gallery/gallery4-mobile-4x.jpg 4x"
                    width="418"
                >
        
                <img 
                    class="gallery-img"
                    src="./images/gallery/gallery4-mobile-1x.jpg" 
                    alt="gallery-4"
                    width="418"
                >
            </picture>
        </li>
    </ul>
    </div>
</section>