<div class="container header__container">
    <a class="logo" href="./index.html">
        <svg class="logo__svg">
            <use href="./images/svg/symbol-defs.svg#icon-logo"></use>
        </svg>
    </a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="#about">About</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#services">Services and prices</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#barbers">Barbers</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#contacts">Contacts</a>
            </li>
        </ul>
    </nav>
    <ul class="header__list">
        <li class="header__item">
            <a class="header__link" href="tel:+380441111111">+38 044 111 11 11</a>
        </li>
        <li class="header__item">
            <a class="btn" href="#contacts">Online-booking</a>
        </li>
    </ul>
    <button type="button" class="menu" aria-label="menu-button">
        <svg class="menu__svg">
            <use class="menu__open" href="./images/svg/symbol-defs.svg#icon-menu"></use>
            <use class="menu__close" href="./images/svg/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
</div>