<div class="header-position">
    <div class="container">
        <div class="header__container">
            <a class="logo" href="./index.html">
                <svg class="logo__svg">
                    <use href="./images/svg/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="mobile-menu menu-js">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link" href="#about">About</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#services">Services and prices</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#barbers">Barbers</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#contacts">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <ul class="header__list header__list-btn">
                    <li class="header__item">
                        <a class="header__link" href="tel:+380441111111">+38 044 111 11 11</a>
                    </li>
                    <li class="header__item">
                        <a class="btn" href="#contacts">Online-booking</a>
                    </li>
                </ul>
                <ul class="menu__soc">
                    <li class="menu__soc-item"><a href="#"></a>Instagram</li>
                    <li class="menu__soc-item"><a href="#"></a>Youtube</li>
                </ul>
            </div>
            <button type="button" class="menu-btn btn-open-js" aria-label="menu-button">
                <svg class="menu__svg">
                    <use href="./images/svg/symbol-defs.svg#icon-menu"></use>
                    <use class="close-menu" href="./images/svg/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>