<section class="section bg">
    <div class="container our-barbers">
        <p class="pre-title">For true enjoyers of the atmosphere</p>
        <h2 id="barbers" class="title mg">Our barbers</h2>
        <ul class="our-barbers__list">
            <li class="our-barbers__item">
                <picture>
                    <source 
                        srcset="
                            ./images/our-barbers/barber1-mobile-1x.jpg,
                            ./images/our-barbers/barber1-mobile-2x.jpg 2x,
                            ./images/our-barbers/barber1-mobile-3x.jpg 3x,
                            ./images/our-barbers/barber1-mobile-4x.jpg 4x"
                    >
                    <img class="our-barbers__img" src="./images/our-barbers/barber1-mobile-1x.jpg" width="418" alt="John Smith">
                </picture>
                <h3 class="our-barbers__title">John Smith</h3>
                <p>Extreme Barber</p>
                <include src="./partials/soc-link.html"></include>
            </li>
            <li class="our-barbers__item">
                <picture>
                    <source 
                        srcset="
                            ./images/our-barbers/barber2-mobile-1x.jpg,
                            ./images/our-barbers/barber2-mobile-2x.jpg 2x,
                            ./images/our-barbers/barber2-mobile-3x.jpg 3x,
                            ./images/our-barbers/barber2-mobile-4x.jpg 4x"
                    >
                    <img class="our-barbers__img" src="./images/our-barbers/barber2-mobile-1x.jpg" width="418" alt="Michele Doe">
                </picture>
                <h3 class="our-barbers__title">Michele Doe</h3>
                <p>Extreme Barber</p>
                <include src="./partials/soc-link.html"></include>
            </li>
            <li class="our-barbers__item">
                <picture>
                    <source 
                        srcset="
                            ./images/our-barbers/barber3-mobile-1x.jpg,
                            ./images/our-barbers/barber3-mobile-2x.jpg 2x,
                            ./images/our-barbers/barber3-mobile-3x.jpg 3x,
                            ./images/our-barbers/barber3-mobile-4x.jpg 4x"
                    >
                    <img class="our-barbers__img" src="./images/our-barbers/barber3-mobile-1x.jpg" width="418" alt="Alan Black">
                </picture>
                <h3 class="our-barbers__title">Alan Black</h3>
                <p>Extreme Barber</p>
                <include src="./partials/soc-link.html"></include>
            </li>
        </ul>
    </div>
</section>