<section class="section servises">
    <div class="container">
        <p class="pre-title white">Spend your time with the best masters</p>
        <h2 class="title white" id="services">Services and prices</h2>
        <div class="servises-wrapper">
            <ul class="servises__list first">
                <li class="servises__item">
                    <p class="servises__elem">Men’s haircut</p>
                    <p class="servises__elem">from 300 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Beard trim</p>
                    <p class="servises__elem">from 300 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Mustache trim</p>
                    <p class="servises__elem">from 200 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Straight razor shave</p>
                    <p class="servises__elem">from 200 uah.</p>
                </li>
            </ul>
            <ul class="servises__list second">
                <li class="servises__item">
                    <p class="servises__elem">Trainee’s haircut</p>
                    <p class="servises__elem">from 50 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Haircut under the nozzle</p>
                    <p class="servises__elem">from 200 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Children’s haircut (0-12 y.o.)</p>
                    <p class="servises__elem">from 300 uah.</p>
                </li>
                <li class="servises__item">
                    <p class="servises__elem">Camouflage of gray hair</p>
                    <p class="servises__elem">from 200 uah.</p>
                </li>
            </ul>
        </div>
        <a href="#contacts" class="btn white center">online-booking</a>
    </div>
</section>