<ul class="soc__list">
    <li class="soc__item">
        <a class="soc__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="link to instagram">
            <svg class="soc__svg">
                <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="link to twitte">
            <svg class="soc__svg">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="link to facebook">
            <svg class="soc__svg">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="soc__item">
        <a class="soc__link" href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer" aria-label="link to linkedin">
            <svg class="soc__svg">
                <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
            </svg>
        </a>
    </li>
</ul>