.section {
    padding: 84px 0;

    &.bg {
        background-color: getColor('secondary-bg-color');
    }

    @media (min-width:768px) {
        padding: 100px 0;
    }

    @media (min-width:1200px) {
        padding: 120px 0;
    }
}