.title {
    font-family: Raleway;
    font-size: getSize('header-size');
    font-weight: 700;
    letter-spacing: 2.1px;
    margin: 20px 0 20px 0;

    &.mg {
        margin-bottom: 44px;
    }

    &.white {
        color: getColor('main-bg-color');
    }
}

.pre-title {
    font-size: getSize('pre-title');
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 60px;
        margin-right: 20px;
        background-color: currentColor;
    }
}