.title {
    font-family: Raleway;
    font-size: getSize('header-size');
    font-weight: 700;
    letter-spacing: 2.1px;
    margin: 20px 0 20px 0;

    transform: translate(0px, 80%);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &.active-title {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1000ms ease 1000ms;
    }

    &.mg {
        margin-bottom: 44px;
    }

    &.white {
        color: getColor('main-bg-color');
    }
}

.pre-title {
    font-size: getSize('pre-title');
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: currentColor;

    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 60px;
        margin-right: 20px;
        background-color: currentColor;
    }
}