.about {
    display: flex;
    flex-grow: 1;
}

.about__paragraph {
    color: getColor('secondary-text-color');
    font-size: getSize('small-big');
    line-height: calc(26 / 16);
    letter-spacing: 0.32px;
    margin-bottom: 20px;
}

.about__description {
    color: getColor('secondary-text-color');
    font-size: getSize('small');
    line-height: calc(26 / 14);
    letter-spacing: 0.28px;
}

.about__description {
    margin-bottom: auto;
}

@media (max-width: 767px) {
    .about__wrapper-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .about__btn {
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .about__list {
        @include size(330px);
        @include center(flex, column);
        margin-right: 30px;

        & .about__item:first-child {
            margin: 0 0 30px 0;
        }
    }

    .about__paragraph {
        font-size: getSize('little');
    }

    .about__wrapper-paragraph {
        @include center(flex, column, flex-start);
    }
}

@media (max-width: 1199px) {
    .about__title.title {
        font-size: getSize('header-size-mob');
    }
}

@media (min-width: 1200px) {
    .about__list {
        flex-direction: row;
        @include size(570px);

        & .about__item:first-child {
            margin: 0 30px 0 0;
        }
    }
}