.wrapper {
    background: url(../images/contacts/contacts-bg-mobile-1x.png) 0 590px/ auto no-repeat,getColor('bg-form');
} 

.contacts__title {
    margin: 0 0 40px 0;
    text-align: center;
}

.contacts__pre-title {
    margin-bottom: 20px;
}

.form__input,
.form__area {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid getColor('bg-img-tx-color');
    margin-bottom: 37px;
    background-color: transparent;
    transition: $time $cubic;

    &::placeholder {
        font-size: getSize('pre-title');
        font-weight: 600;
        letter-spacing: 1.1px;
    }

    &:hover {
        border-bottom: 1px solid getColor('main-bg-color');
        transition: $time $cubic;
    }

    &:hover::placeholder {
       color: getColor('main-bg-color');
       transition: $time $cubic;
    }
}

.white {
    color: getColor('main-bg-color');
}

.form__btn {
    margin: 45px auto 0 auto;
}

.contacts__link {
    display: flex;
    align-items: center;
}

.contacts__svg {
    @include size(24px, 24px);
    margin-right: 16px;
}

.contacts {
    color: getColor('bg-img-tx-color');
    font-size: getSize('little');
    font-weight: 700;
    line-height: calc(30 / 18);
    letter-spacing: 0.36px;
}

.contacts__list {
    margin-bottom: 44px;
    
    & .contacts__item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width: 1199px) {
    .wrapper {
        background: url(../images/contacts/contacts-bg-tablet-1x.png)0 550px/ contain no-repeat, getColor('bg-form');
    }  
    .contacts__address {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:768px) {
    .contacts__title {
        text-align: left;
    }
    .form__input {
        width: 330px;
        display: inline;
    }
    .form__btn {
        margin: 45px 0 0 0;
    }
    .mg {
        margin-right: 30px;
    }
}

@media (min-width:1200px) {
    .wrapper {
        background: url(../images/contacts/contacts-bg-tablet-1x.png) 980px / contain no-repeat, getColor('bg-form');
    } 
    .wrapper-flex {
        display: flex;
    }
    .contacts__list {
        margin-bottom: 70px;
    }
    .form__input {
        width: 270px;
    }
    .form {
        margin-right: 130px;
    }
}