.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.m-b {
    margin-bottom: 71px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: 320px) and (max-width:767px) {
    .gallery__list .gallery__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .gallery__list {
        @include center(flex);
    }
    .m-b {
        margin-bottom: 44px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        & .gallery__item {
            margin: 15px;
        }
    }
}

@media (min-width: 1200px) {
    .gallery__list .gallery__item:not(:last-child) {
        margin-right: 30px;
    }
}