.header-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header {
    font-size: getSize('btn');
    font-weight: 600;
    letter-spacing: 1.2px;
    background-color: #555;
    color: getColor('main-bg-color');
    z-index: 13;
}

.header__container {
    padding: 48px 0;
    @include center(flex, row, center, space-between);
}

.header__list {
    @include center(flex, row, center);
}

.header__link {
    display: inline-block;
    padding: 15px 0;
    transition: $time $cubic;

    &:hover {
        color:getColor('accent-color');
        transition: $time $cubic;
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 337px;
    height: 100vh;
    color: getColor('main-text-color');
    background-color: getColor('main-bg-color');
    padding: 118px 40px;
    z-index: 20;

    font-size: getSize('little');
    font-weight: 600;
    letter-spacing: 1.8px;
    opacity: 0;
    transform: translateX(-100%);
    transition: $time $cubic;
}

.menu.open {
    transform: translateX(0);
    opacity: 1;
    transition: $time $cubic;
}

.menu__list {
    margin-bottom: 64px;
    & .menu__item:not(:last-child) {
        margin-bottom: 24px;
    }
}

.menu__link:hover {
    color: getColor('accent-color');
}

.menu-btn-close {
    display: flex;
    position: absolute;
    top: 48;
    right: 31;
    @include size(40px, 40px);
    border: none;
    background-color: transparent;
}

.menu__svg-close {
    fill: getColor('main-text-color');
}


@media screen and (max-width: 767px) {
    .header__nav,.header__list {
        display: none;
    }
}



@media screen and (min-width: 768px) {
    .header__container {
        padding: 40px 0;
    }

    .menu {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .header__list {
        & .header__item:not(:last-child) {
            margin-right: 16px;
        }
    }
}

@media screen and (min-width:1200px) {
    .header__container {
        padding: 40px 0;
    }
    
    .header__list {
        & .header__item:not(:last-child) {
            margin-right: 30px;
        }
    }
}